/* About Us Section */

.aboutus-section {
  padding-top: 40px;
}

.aboutus-title {
  padding-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--darkgreen);
}

.aboutus-paragraph {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: (var(--black));
  display: block;
}

.first-paragraph {
  padding-bottom: 20px;
}

.second-paragraph {
  padding-bottom: 40px;
}

.aboutus-image {
  width: 100%;
  height: 365px;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .aboutus-section {
    padding-top: 64px;
  }

  .text {
    width: 100%;
    height: 162px;
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
  }

  .aboutus-title {
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 118px;
    padding-top: 0px;
  }

  .first-paragraph {
    width: 220px;
    height: 162px;
    padding-left: 40px;
  }

  .second-paragraph {
    width: 250px;
    height: 144px;
    padding-left: 20px;
  }

  .aboutus-image {
    height: 465px;
  }
}

@media screen and (min-width: 1280px) {
  .aboutus-section {
    padding-top: 80px;
  }

  .text {
    width: 100%;
    height: 90px;
    padding-bottom: 40px;
  }

  .first-paragraph {
    width: 439px;
    height: 90px;
    padding-left: 110px;
  }

  .second-paragraph {
    width: 380px;
    height: 90px;
    padding-left: 40px;
    padding-right: 33px;
  }

  .aboutus-image {
    width: 892px;
    height: 500px;
    padding-left: 284px;
  }

  .image {
    width: 892px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }
}
