:root {
  --white: #ffffff;
  --darkgreen: #1e2827;
  --black: #141414;
}

/* Header Section */

.header {
  background-color: var(--black);
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 29px;
  box-sizing: border-box;
  z-index: 2;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.logo-link {
  display: flex;
  align-items: center;
  color: white;
  gap: 4px;
}

.logo-link img {
  width: 14px;
  height: 14px;
  margin-bottom: 4px;
}

.menu {
  display: none;
}

.header-address-container:hover,
.header-address-container:focus {
  background-color: #25312f;
  border: 1px solid #ffffff;
  fill: var(--white);
}

.header-address {
  display: none;
}

.menu-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
}

/* Modal Menu */

.modal-menu-window {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  height: 100vh;
  width: 100%;
  transform: translateX(-50%);
  background-color: var(--darkgreen);
  color: var(--white);
  visibility: hidden;
}

.modal-menu-window.is-open {
  visibility: visible;
}

.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
}

.modal-header-container {
  display: flex;
  align-items: center;
  width: 335px;
  justify-content: space-between;
  margin-top: 29px;
  padding: 0;
}

.modal-header-nav {
  display: flex;
  justify-content: center;
}

.modal-menu-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.modal-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.modal-menu-link {
  color: var(--white);
  font-weight: 400;
  text-align: center;
  position: relative;
  transition: color 0.3s ease;
}

.modal-menu-link::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: white;
  border-radius: 2px;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.modal-menu-link:hover::after {
  transform: scaleX(1);
}

.modal-menu-link:hover,
.modal-menu-link:focus {
  color: rgba(255, 255, 255, 0.7);
}

.modal-social-media-container {
  background-color: #1a2221;
  margin-top: auto;
  padding: 40px 0;
}

.modal-social-media-title {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
}

.modal-social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.modal-social-media-link {
  background-color: #121717;
  fill: var(--darkgreen);
  border: 1px solid #121717;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  transition: background-color 0.3s ease, border 0.3s ease;
  border: 1px solid transparent;
}

.modal-social-media-link:hover,
.modal-social-media-link:focus {
  background-color: #25312f;
  border: 1px solid #ffffff;
  fill: var(--white);
}

@media screen and (min-width: 768px) {
  .header-container {
    margin-top: 20px;
    color: white;
  }

  .logo-link img {
    width: 19px;
    height: 19px;
    margin-bottom: 3px;
  }

  .logo-text {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 15.37px;
  }

  .header-nav {
    gap: 80px;
  }

  .menu {
    display: flex;
    gap: 40px;
    font-size: 9px;
    line-height: 12px;
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-link {
    color: white;
    position: relative;
    margin: 0;
    transition: color 0.3s ease;
  }

  .menu-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: white;
    border-radius: 2px;
    height: 1px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .menu-link:hover::after {
    transform: scaleX(1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  .header-address-container {
    display: flex;
    justify-content: center;
    width: 159px;
    height: 48px;
    margin-top: 0;
    background-color: var(--darkgreen);
    border-radius: 8px;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 1px solid transparent;
  }

  .header-address {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 9px;
  }

  .address-link {
    color: white;
  }

  .header-address-container .address-link {
    display: flex;
    align-items: center;
  }

  .menu-btn {
    display: none;
  }

  .modal-menu-window {
    display: none;
  }
}
