/* Hero Section */

.hero {
  background-color: var(--black);
  color: white;
  padding-top: 69px;
  padding-bottom: 40px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.hero-title {
  font-size: 38px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 60px;
}

.swiper-container {
  height: 200px;
  width: 266px;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

.swiper-slide {
  width: 266px;
}

.swiper-slide img {
  border-radius: 10px;
}

.swiper-buttons {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  height: 32px;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}

.swiper-button-next {
  margin-left: 44px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 502px !important;
  margin-top: 20px !important;
  width: 32px !important;
  height: 32px !important;
  left: auto !important;
  right: auto !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.hero-text {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 248px;
  margin-top: 92px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 0;
}

.swiper-counter {
  display: flex;
  align-items: center;
  width: 82px;
  height: 18px;
  display: flex;
  position: absolute;
  margin-left: 184px;
  margin-top: 35px;
  color: #fff;
  font-size: 14px;
}

#current-slide {
  margin-right: 6px;
}

#total-slides {
  margin-left: 6px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .hero-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hero-text {
    width: 248px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-img {
    margin-top: 100px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 62px;
    width: 653px;
  }

  .swiper-buttons {
    height: 40px;
  }

  .swiper-button-next {
    margin-left: 52px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 650px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .swiper-slide img {
    height: 255px;
    width: 436px;
  }

  .swiper-wrapper {
    width: 436px;
  }

  .swiper-container {
    height: 255px;
    width: 436px;
  }

  .swiper-counter {
    margin-left: 353px;
    margin-top: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding: 80px 0;
  }

  .hero-img {
    margin-left: auto;
    margin-top: -335px;
  }

  .hero-text {
    width: 282px;
    margin-top: -660px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 62px;
    width: 750px;
    margin-bottom: 122px;
  }
}
