<!--Catalog Section-->

<section id="catalog" class="section catalog-section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <!--Card 1-->

      <li class="catalog-list-item">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>

        <div class="image-container">
          <img
            src="./images/watch01.jpg"
            srcset="./images/watch01.jpg 1x, ./images/watch01@2x.jpg 2x"
            alt="Tube Watch S42 Date Steel With Black Case"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">Tube Watch S42 Date Steel With Black</p>
          <span class="price">€500</span>
        </div>
      </li>

      <!--Card 2-->

      <li class="catalog-list-item">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>

        <div class="image-container">
          <img
            src="./images/watch02.jpg"
            srcset="./images/watch02.jpg 1x, ./images/watch02@2x.jpg 2x"
            alt="Avondale Watch Police For Men"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">Avondale Watch Police For Men</p>
          <span class="price">€800</span>
        </div>
      </li>

      <!--Card 3-->

      <li class="catalog-list-item">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch03.jpg"
            srcset="./images/watch03.jpg 1x, ./images/watch03@2x.jpg 2x"
            alt="Diver 300M CoAxial Master Chronometer Chronograph"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">
            Diver 300M Co&#8208;Axial Master Chronometer
          </p>
          <span class="price">€600</span>
        </div>
      </li>

      <!--Card 4-->

      <li class="catalog-list-item">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch04.jpg"
            srcset="./images/watch04.jpg 1x, ./images/watch04@2x.jpg 2x"
            alt="Diver 300M CoAxial Master Chronometer"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">
            Diver 300M Co&#8208;Axial Master Chronometer
          </p>
          <span class="price">€1400</span>
        </div>
      </li>

      <!--Card 5-->

      <li class="catalog-list-item">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch05.jpg"
            srcset="./images/watch05.jpg 1x, ./images/watch05@2x.jpg 2x"
            alt="Taman Watch By Police For Men"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">Taman Watch By Police For Men</p>
          <span class="price">€500</span>
        </div>
      </li>

      <!--Card 6-->

      <li class="catalog-list-item">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch06.jpg"
            srcset="./images/watch06.jpg 1x, ./images/watch06@2x.jpg 2x"
            alt="Malawi Watch Police For Men"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">Malawi Watch Police For Men</p>
          <span class="price">€555</span>
        </div>
      </li>

      <!--Card 7-->

      <li class="catalog-list-item">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch07.jpg"
            srcset="./images/watch07.jpg 1x, ./images/watch07@2x.jpg 2x"
            alt="Diver 300M Co-Axial Master
            Chronometer"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">
            Diver 300M Co&#8208;Axial Master Chronometer
          </p>
          <span class="price">€1200</span>
        </div>
      </li>

      <!--Card 8-->

      <li class="catalog-list-item">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch08.jpg"
            srcset="./images/watch08.jpg 1x, ./images/watch08@2x.jpg 2x"
            alt="Greenlane Watch By Police For Men"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">Greenlane Watch By Police For Men</p>
          <span class="price">€1000</span>
        </div>
      </li>

      <!--Card 9-->

      <li class="catalog-list-item blockmob">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch09.jpg"
            srcset="./images/watch09.jpg 1x, ./images/watch09@2x.jpg 2x"
            alt="Greenlane Watch By
            Police For Men"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">Squardrc 5402 Chrono</p>
          <span class="price">€359</span>
        </div>
      </li>

      <!--Card 10-->

      <li class="catalog-list-item blockmob">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch10.jpg"
            srcset="./images/watch10.jpg 1x, ./images/watch10@2x.jpg 2x"
            alt="Squardrc 5402 Chrono"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">
            Diver 300M Co&#8208;Axial Master Chronometer Chronograph
          </p>
          <span class="price">€400</span>
        </div>
      </li>

      <!--Card 11-->

      <li class="catalog-list-item blockmob">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch11.jpg"
            srcset="./images/watch11.jpg 1x, ./images/watch11@2x.jpg 2x"
            alt="Citizen"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">Citizen</p>
          <span class="price">€519</span>
        </div>
      </li>

      <!--Card 12-->

      <li class="catalog-list-item blockmob">
        <svg class="catalog-icons" width="24px" height="24px">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <div class="image-container">
          <img
            src="./images/watch12.jpg"
            srcset="./images/watch12.jpg 1x, ./images/watch12@2x.jpg 2x"
            alt="Diver
            300M CoAxial Master Chronometer Chronograph"
            width="276"
            height="325"
          />
          <div class="overlay">
            <div class="overlay-description">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police
                Men&#39;s Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS &#38; FEATURES</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-description">
          <p class="text-description">Armani Exchange</p>
          <span class="price">€400</span>
        </div>
      </li>
    </ul>
    <button
      data-modal-open
      type="button"
      class="catalog-button data-modal-open"
    >
      Buy now
    </button>
  </div>
</section>
