<!--Header Section-->

<header class="header section">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="./index.html" class="logo-link">
        <img src="./images/logo.png" alt="Website Logo" />
        <span class="logo-text">thewatchspot</span>
      </a>
      <ul class="menu">
        <li class="menu-item">
          <a href="#aboutus" class="menu-link">ABOUT US</a>
        </li>
        <li class="menu-item">
          <a href="#catalog" class="menu-link">CATALOG</a>
        </li>
        <li class="menu-item">
          <a href="#sale" class="menu-link">SALE</a>
        </li>
      </ul>
    </nav>
    <div class="header-address-container">
      <address class="header-address">
        <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
    </div>
    <button class="menu-btn">
      <svg class="menu-icon-svg" width="24" height="24">
        <use href="./images/icons.svg#icon-menu" />
      </svg>
    </button>
  </div>
</header>

<!--Modal Menu Section-->

<div class="modal-menu-window">
  <div class="modal-header-container container">
    <nav class="modal-header-nav">
      <a href="./index.html" class="logo-link">
        <img src="./images/logo.png" alt="Website Logo" />
        <span class="logo-text">thewatchspot</span>
      </a>
    </nav>
    <button type="button" class="menu-close-btn">
      <svg class="modal-close-svg" width="24" height="24">
        <use href="./images/icons.svg#icon-close" />
      </svg>
    </button>
  </div>
  <div class="modal-menu-container">
    <ul class="modal-menu">
      <li class="modal-menu-item">
        <a href="#aboutus" class="modal-menu-link">ABOUT US</a>
      </li>
      <li class="modal-menu-item">
        <a href="#catalog" class="modal-menu-link">CATALOG</a>
      </li>
      <li class="modal-menu-item">
        <a href="#sale" class="modal-menu-link">SALE</a>
      </li>
    </ul>
  </div>
  <div class="modal-social-media-container">
    <h1 class="modal-social-media-title">Social Media</h1>
    <ul class="modal-social-media">
      <li class="social-media-icon">
        <a
          href="https://www.twitter.com/"
          target="_blank"
          class="modal-social-media-link"
          ><svg class="icon-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-twitter" />
          </svg>
        </a>
      </li>
      <li class="social-media-icon">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="modal-social-media-link"
          ><svg class="icon-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook" />
          </svg>
        </a>
      </li>
      <li class="social-media-icon">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="modal-social-media-link"
        >
          <svg class="icon-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram" />
          </svg>
        </a>
      </li>
      <li class="social-media-icon">
        <a
          href="https://www.youtube.com/"
          target="_blank"
          class="modal-social-media-link"
          ><svg class="icon-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-youtube" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

<!--Modal Menu Script-->

<script>
  const menubutton = document.querySelector('.menu-btn');

  const menu = document.querySelector('.modal-menu-window');

  menubutton.addEventListener('click', toggleMenu);

  menu.addEventListener('click', e => {
    const target = e.target.closest('.menu-close-btn');

    if (!target) {
      return;
    }

    toggleMenu();
  });

  const menuLinks = document.querySelectorAll('.modal-menu-link');
  menuLinks.forEach(link => {
    link.addEventListener('click', toggleMenu);
  });

  function toggleMenu() {
    menu.classList.toggle('is-open');
  }
</script>
