<!-- Swiper Style -->

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<!--Hero Section-->

<section class="hero section">
  <div class="hero-container container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/watch1-td.jpg 1x, ./images/watch1-td@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/watch1-m.jpg 1x, ./images/watch1-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img src="./images/watch1-m.jpg" alt="Watch 1" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/watch2-td.jpg 1x, ./images/watch2-td@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/watch2-m.jpg 1x, ./images/watch2-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img src="./images/watch2-m.jpg" alt="Watch 2" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/watch3-td.jpg 1x, ./images/watch3-td@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/watch3-m.jpg 1x, ./images/watch3-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img src="./images/watch3-m.jpg" alt="Watch 3" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/watch4-td.jpg 1x, ./images/watch4-td@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/watch4-m.jpg 1x, ./images/watch4-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img src="./images/watch4-m.jpg" alt="Watch 4" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/watch5-td.jpg 1x, ./images/watch5-td@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/watch5-m.jpg 1x, ./images/watch5-m@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img src="./images/watch5-m.jpg" alt="Watch 5" />
          </picture>
        </div>
      </div>
      <div class="swiper-counter">
        <span id="current-slide">1</span> ────
        <span id="total-slides">5</span>
      </div>
      <div class="swiper-buttons">
        <div class="swiper-button-next">
          <svg class="swiper-next-svg" width="32" height="32">
            <use href="./images/icons.svg#icon-next" />
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="prev-svg" width="32" height="32">
            <use href="./images/icons.svg#icon-prev" />
          </svg>
        </div>
      </div>
    </div>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <picture class="hero-img">
      <source
        srcset="./images/watch-m.jpg 1x, ./images/watch-m@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="./images/watch-t.jpg 1x, ./images/watch-t@2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/watch-d.jpg 1x, ./images/watch-d@2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <img src="./images/watch-m.jpg" alt="Watch" />
    </picture>
  </div>
</section>

<!-- Swiper Script -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  const swiper = new Swiper('.mySwiper', {
    slidesPerView: 1,
    spaceBetween: 50,
    centeredSlides: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    keyboard: { enabled: true },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      init: function () {
        document.getElementById('total-slides').textContent = formatNumber(
          this.slides.length
        );

        document.getElementById('current-slide').textContent = formatNumber(
          this.realIndex + 1
        );
      },
      slideChange: function () {
        document.getElementById('current-slide').textContent = formatNumber(
          this.realIndex + 1
        );
      },
    },
  });

  function formatNumber(number) {
    return number < 10 ? '0' + number : number;
  }
</script>
