<!--Buy Menu Section-->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-modal-btn" type="button" data-modal-close>
      <svg class="close-modal-icon">
        <use
          class="close-modal-svg"
          href="./images/icons.svg#icon-close1"
        ></use>
      </svg>
    </button>
    <div class="modal-block1">
      <ul class="modal-block1-list">
        <li class="modal-block1-item">
          <img
            class="modal-block1-item-img"
            src="./images/watch01.jpg"
            srcset="./images/watch01.jpg 1x, ./images/watch01@2x.jpg 2x"
            alt="foto Watch"
            width="276"
          />
          <div class="modal-block1-description">
            <h3 class="modal-block1-title">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="modal-block1-text">€395</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-block2">
      <form class="modal-block2-form">
        <label class="modal-block2-label"
          ><span class="modal-block2-title">Full name</span>
          <span class="modal-block2-input-wrap"
            ><input
              class="modal-block2-input"
              type="text"
              name="user-name"
              placeholder="Enter your full name"
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
              required
              minlength="3"
            />
          </span>
        </label>
        <label class="modal-block2-label"
          ><span class="modal-block2-title">Email</span>
          <span class="modal-block2-input-wrap"
            ><input
              class="modal-block2-input"
              type="text"
              name="user-email"
              placeholder="Enter your email"
              pattern="\S+@[a-z]+.[a-z]+"
              required
              minlength="5"
            />
          </span>
        </label>
        <label class="modal-block2-label"
          ><span class="modal-block2-title">Card number</span>
          <span class="modal-block2-input-wrap"
            ><input
              class="modal-block2-input"
              type="text"
              name="user-card"
              placeholder="Enter card"
              pattern="[1-9]{13,19}"
              required
              minlength="13"
              maxlength="19"
            />
          </span>
        </label>
        <label class="modal-block2-label modal-no"
          ><span class="modal-block2-title">Comments</span>
          <textarea
            class="modal-block2-input comments"
            placeholder="Enter your text"
            name="user-comment"
            id="user-comment"
          ></textarea>
        </label>
        <button class="submit-modal-btn" type="submit">submit</button>
        <p class="modal-bottom-text">
          By clicking on “Submit” button, you agree to our
          <a href="" class="modal-bottom-link">Privacy Policy</a>, <br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>
