<!--Sale Section-->

<section id="sale" class="sale-section section">
  <div class="sale-container container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-item">
      <div class="watch-images">
        <ul class="list-images">
          <li class="item-images">
            <img
              src="./images/image67.jpg"
              srcset="./images/image67.jpg 1x, ./images/image67@2x.jpg 2x"
              alt="watch"
            />
          </li>
          <li class="item-images">
            <img
              src="./images/image64.jpg"
              srcset="./images/image64.jpg 1x, ./images/image64@2x.jpg 2x"
              alt="watch"
            />
          </li>
          <li class="item-images">
            <img
              src="./images/image65.jpg"
              srcset="./images/image65.jpg 1x, ./images/image65@2x.jpg 2x"
              alt="watch"
            />
          </li>
          <li class="item-images">
            <img
              src="./images/image66.jpg"
              srcset="./images/image66.jpg 1x, ./images/image67@2x.jpg 2x"
              alt="watch"
            />
          </li>
        </ul>
        <img
          class="big-watch"
          src="./images/img_bigwatch.jpg"
          srcset="./images/img_bigwatch.jpg 1x, ./images/img_bigwatch@2x.jpg 2x"
          alt="watch"
        />
      </div>
      <div class="watch-information">
        <div class="watch-title">
          <h3 class="watch-name">Greenlane Watch By Police For MenHT</h3>
          <p class="watch-text">Product tag: PEWJK2227003</p>
          <p class="watch-price">
            €700 <span class="watch-discount">€1000</span>
          </p>
        </div>
        <div class="watch-description">
          <h2 class="watch-description-title">
            DESCRIPTION
            <svg class="svg-sale">
              <use href="./images/icons.svg#icon-Vector12" />
            </svg>
          </h2>
          <p class="watch-description-text">
            Richly detailed with an understated design - the Police Men's
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="watch-details">
          <h2 class="watch-details-title">
            DETAILS & FEATURES
            <svg class="svg-sale">
              <use href="./images/icons.svg#icon-Vector12" />
            </svg>
          </h2>
          <p class="watch-details-text">
            Gender: man <br />
            Size: 46x54.5mm <br />
            Case Colour: Steel <br />
            Band Material: Metal <br />
            Case Material: Metal <br />
            Features: Multifunction <br />
            Water Resistant: 5 (ATM) <br />
            Band Colour: Steel
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
