<!--New Watches Section-->

<section class="watches-section section"></section>
    <div class="container">
      <div class="watches-header">
        <span class="watches-category">New watches</span>
        <h1 class="watches-title">Green And Bronze–The Match Made In Heaven</h1>
      </div>
      <div class="watches-images">
        <div class="watches-image">
          <img src="./images/rectangle9.jpg" alt="Green and Bronze Watch">
        </div>
        <div class="watches-image">
          <img src="./images/rectangle8.jpg" alt="Black Skeleton Watch">
        </div>
      </div>
    </div>
  </section>